body {
	font-size: 16px;
	font-family: 'Avenir', sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.flex {
	display: flex;
	width: 100%;
}

/*Logo*/

.header {
	padding: 1rem 0rem;
	flex-direction: column;
	color: #FFFFFF;
	background-color: #3B3561;
	justify-content: center;
}

.logo {
	flex-direction: column;
	align-items: center;
}

.logo img {
	width: 30rem;
}

@media only screen and (max-width: 700px) {
	.logo img {
		width: 20rem;
	}
}

/*Search Bar*/
.search {
	background-color: #676767;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.searchBar {
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 2rem;

}

.searchTerm {
	width: 50%;
	border: 3px solid #FFF;
	padding: 5px;
	height: 30px;
	border-radius: 5px 0px 0px 5px;
	outline: none;
	color: #F05068;
	font-size: 1rem;
}

.searchTerm:focus{
	color: #F05068;
}

.currentLocation {
	width: 70px;
	height: 46px;
	border: 1px solid #F05068;
	background: #F05068;
	text-align: center;
	color: #fff;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	font-size: 20px;
}

.currentLocation:hover {
	background-color: #C54659;
}

/*Locations*/
.locations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eaeaea;
}

.location {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;
	background-color: #FFFFFF;
	box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
}

.locationImg img {
	width: 12rem;
	height: 10rem;
}

.locationInfo {
	display: flex;
	justify-content: center;
	padding-left: 1rem;
	flex-direction: column;
	border-right: 1px solid #656565;
	height: 10rem;
	padding-right: 5rem;
}

.locationInfo span {
	margin-bottom: 1rem;
}

.title {
	font-weight: 500;
	font-size: 1.5rem;
}

.hearts {
	color: #F05068;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.locationLink {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.bestPrice,
.price {
	color: #F05068;
	font-size: 1.25rem;
}

.price {
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 0.25rem;
	margin-bottom: 3rem;
}

.view {
	color: #FFFFFF;
	background-color: #3B3561;
	padding: 1rem 2rem;
	border-radius: 3px;
	text-align: center;
}

.view:hover {
	background-color: #292542;
}

@media only screen and (max-width: 700px) {
	.location {
		width: 90%;
	}

	.locationImg {
		width: 30%;
	}

	.locationImg img {
		width: 6rem;
		height: 5rem;
	}

	.locationInfo {
		border: none;
		width: 70%;
		margin: 0;
	}

	.learn, .locationLink {
		display: none;
	}

	.pricing {
		display: flex;
		flex-direction: column;
	}

	.locationLinkMob {
		display: inherit;
		text-align: center;
		align-items: space-between;
	}
}
